{% extends "base.html" %} {% block content %}

<div class="container">
  <form class="input-group" method="get">
    <div class="form-outline">
      <input
        type="search"
        id="game-form"
        class="form-control"
        name="game"
        placeholder="Search"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

{% if ok %}
<span class="badge bg-success">Success</span>
{% endif %}
{% if fail %}
<span class="badge bg-danger">Error</span>
{% endif %}
{% endblock content %}
